<a href="/store/">
    <div class="mobile-logo">
      <img src="/media/store/rfbstore.svg" alt="RFB Store logo" />
    </div>
</a>

<a href="/store/">
    <div class="desktop-logo">
        <picture>
          <source
            srcset="/media/store/rfbstore_logowithwordmark.svg"
            media="(min-width: 800px)"
            width="130px"
          />

          <img
            src="/media/store/rfbstore.svg"
            alt="RareFrostbites logo"
            width="30.325px"
          />
        </picture>
    </div>
</a>